* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #101011;
}

header {
  min-height: 100vh;
  max-width: 100vw;
}
header nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
}
header nav p {
  font-weight: bold;
  margin: 0 250px;
  font-size: 2.3rem;
  color: #FFF4D9;
  animation: writting 1s;
}
header nav ul {
  display: flex;
}
header nav ul li {
  display: flex;
  align-items: center;
  height: 60px;
  list-style: none;
  margin: 0 70px;
  transition: 0.3s ease;
}
header nav ul li li:hover {
  background: #091215;
}
header nav ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #FFF4D9;
}
header .overlay {
  background: url(./../img/100-push-ups-a-day-featured-image-barbend.com_.jpg) no-repeat center/cover fixed;
  height: 100vh;
  flex-direction: column;
  color: #FFF4D9;
}
@keyframes writting {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
header .overlay .fitzone {
  text-shadow: 0 7px 7px black;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: bold;
  padding-top: 350px;
  margin-left: 245px;
  animation: writting 1s steps(40, end);
}
header .overlay p {
  text-align: justify;
  margin-left: 245px;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-style: oblique;
  width: 30%;
}

main {
  text-align: center;
  margin: 0 auto;
  width: 95vw;
  min-height: 100vh;
  /*.main-top{
      text-align: center;
      height: 80px;
      min-height: 80px;
      margin-bottom:0px ;
      color: $color1;
      h2{
          position: relative;
          top: -60px;
          background: $color2;
          height: 140px;
          width: 30%;
          margin: 0 auto;
          display: flex;
          align-items: center;
          color: $color1;
          text-transform: capitalize;
          font-size: 1.9rem;
          font-weight: lighter;
      }*/
}
main .title {
  position: fixed;
  z-index: -1;
  visibility: hidden;
}

.recommendation {
  min-height: 500px;
  text-transform: capitalize;
  padding: 20px;
}
.recommendation h2 {
  text-align: center;
  font-size: 4em;
  text-transform: uppercase;
  color: #FFF4D9;
  text-shadow: 3px 5px 2px black;
}
.recommendation .push, .recommendation .pull, .recommendation .leg {
  padding: 60px;
  background: #294362;
  height: 80vh;
  background: url(./../img/100-push-ups-a-day-featured-image-barbend.com_.jpg) no-repeat center/cover fixed;
  background-position: -200px;
  background-size: 50vw;
}
.recommendation .pull {
  background: url(./../img/beginner_pullups.jpeg) center/cover no-repeat fixed;
  background-position: 1100px;
  background-size: 50vw;
  overflow: hidden;
}
.recommendation .leg {
  background: url(./../img/30-Minute-Leg-Workout.jpeg) no-repeat center/cover fixed;
  background-position: -250px;
  background-size: 50vw;
}
.recommendation .container {
  overflow: hidden;
  margin: 20px 0;
}
.recommendation .container .accordion-container {
  margin: 100px 0;
  overflow: hidden;
}
.recommendation .accordion {
  filter: none;
  color: #FFF4D9;
  display: block;
  width: 70%;
  margin: 0 auto;
  height: 70px;
  text-align: left;
  padding: 0 20px;
  outline: none;
  background: none;
  text-align: center;
  font-weight: 600;
  font-size: 1.2em;
  text-shadow: 3px 5px 2px black;
  border: none;
  border-bottom: solid thin;
  transition: 0.3s ease;
}
.recommendation .active, .recommendation .accordion:hover {
  filter: none !important;
  background: #294362;
  border: solid thin;
  font-weight: bold;
  text-transform: uppercase;
}
.recommendation .panel {
  background: #223853;
  color: #FFF4D9;
  width: 70%;
  margin: 0 auto;
  text-align: left;
  padding: 0 20px;
  display: none;
  overflow: hidden;
}
.recommendation .panel li {
  list-style: none;
  margin: 10px 0;
}
.recommendation .programme {
  margin: 150px;
}
.recommendation .programme .titre {
  height: 40vh;
  margin: 350px 100px 200px;
}
.recommendation .programme .titre i {
  border: solid thin;
  border-radius: 50%;
  padding: 10px;
  margin: 50px;
  animation: arrow 1s infinite;
}
.recommendation .programme .titre i :hover {
  background: #294362;
}
@keyframes arrow {
  0% {
    top: 0;
  }
  50% {
    bottom: 10px;
  }
  100% {
    top: 0;
  }
}
.recommendation .programme .pro-container {
  display: flex;
}
.recommendation .programme .pro-container h2 {
  text-shadow: none;
  font-size: 3em;
}
.recommendation .programme .pro-container button {
  background: none;
  border: none;
  margin: 50px 0;
  cursor: pointer;
  transition: 0.3s ease;
}
.recommendation .programme .pro-container button :hover {
  border: solid thin;
  background: #101011;
  transform: scale(1.3);
  padding: 3px;
}
.recommendation .programme .pro-container .creer {
  background: #294362;
  flex: 1;
  height: 200px;
}
.recommendation .programme .pro-container .prog {
  background: #FFF4D9;
  flex: 1;
}
.recommendation .programme .pro-container .prog h2 {
  text-shadow: none;
  color: #294362;
}

footer {
  background: #294362;
  max-height: 50vh;
  display: flex;
}
footer .logo-foot {
  background: #FFF4D9;
  flex: 0.2;
}
footer .logo-foot #foot-img {
  width: 100%;
}
footer .logo-foot .message label, footer .logo-foot .message input {
  display: block;
}/*# sourceMappingURL=index.css.map */